/*
COMMON STYLES
*/
html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    background: #fff;
}

a, a:visited {
    color: #007cff;
}

.container-fluid img {
    max-width: 100%;
}

h1 {
    font-size: 70px;
    line-height: 90px;
}

h2 {
    font-size: 35px;
    line-height: 45px;
}

h3 {
    font-size: 26px;
    line-height: 34px;
}

h4 {
    font-size: 20px;
    line-height: 26px;
}

input[type="text"],
input[type="email"],
textarea {
    background: #fff;
    border: 1px solid #c6c6c6;
}

p {
    text-align: justify;
}

/*
Classes used for styling in the backend editor
*/
.padd,
.col-md-4 .padd {
    padding: 30px 40px 20px;
}

.col-md-8 .padd {
    padding: 30px 80px 20px;
}

.bg-block {
    background: #e5f2ff;
}

.bg-image {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.big-wrap {
    position: relative;
}

.big-wrap .bg-image-wrap {
    position: absolute;
    top: 0;
    height: 100%;
}

.left-bg-image {
    left: 0;
}

.limit-width {
    max-width: 800px;
}

.aligncenter,
.aligncenter p {
    text-align: center;
}

.mbottom {
    margin-bottom: 0;
}

.maxwidth {
    width: 100%;
}

/*modal box*/
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 425px;
    max-width: 100%;
}

.close-modal {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.resultMessage.success {
    color: green;
}

.resultMessage.error {
    color: red;
}


/*top menu*/
div#topmenu {
    background: rgb(140, 156, 170);
    width: 100%;
    text-align: right;
    padding: 10px 20px;
    -webkit-transition: padding 1s;
    -moz-transition: padding 1s;
    -ms-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s;
    z-index: 100;
    position: relative;
}
div#topmenu.sticky {
    background: rgba(140, 156, 170, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 5px 30px 5px 40px;
    width: 100%;
}
div#topmenu ul {
    margin: 12px 0;
}
div#topmenu ul {
    margin: 0;
}
div#topmenu li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 2px 7px;
    margin: 0 0;
}
div#topmenu li,
div#topmenu li a {
    font-size: 17px;
}
div#topmenu li {
    display: inline-block;
}
div#topmenu li:after,
span.foot-contact-social a:after {
    content: "|";
    color: rgba(255, 255, 255, 0.4);
}
span.foot-contact-social a:after {
    margin-left: 10px;
}
div#topmenu li:nth-last-child(1):after,
div#topmenu li:nth-last-child(2):after,
span.foot-contact-social a:last-child:after {
    content: "";
}
div#topmenu li:last-child {
    margin-left: 30px;
}
div#topmenu li:last-child a {
    padding: 2px 0;
}

/*contact button*/
.contact-button {
    font-family: "Roboto", sans-serif;
    padding: 5px 20px;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    margin: 20px auto 0;
    cursor: pointer;
    box-sizing: border-box;
    background: #ffba00;
    text-transform: uppercase;
    background-image: -webkit-linear-gradient(top, #ffba00, #e0a204);
    background-image: -moz-linear-gradient(top, #ffba00, #e0a204);
    background-image: -ms-linear-gradient(top, #ffba00, #e0a204);
    background-image: -o-linear-gradient(top, #ffba00, #e0a204);
    background-image: linear-gradient(to bottom, #ffba00, #e0a204);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    -webkit-box-shadow: 5px 5px 21px -5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 5px 5px 21px -5px rgba(0, 0, 0, 0.35);
    box-shadow: 5px 5px 21px -5px rgba(0, 0, 0, 0.35);
}
.contact-button:hover {
    background: #e39f00;
    background-image: -webkit-linear-gradient(top, #e39f00, #d49800);
    background-image: -moz-linear-gradient(top, #e39f00, #d49800);
    background-image: -ms-linear-gradient(top, #e39f00, #d49800);
    background-image: -o-linear-gradient(top, #e39f00, #d49800);
    background-image: linear-gradient(to bottom, #e39f00, #d49800);
    text-decoration: none;
    -webkit-box-shadow: inset 5px 5px 20px -10px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 5px 5px 20px -10px rgba(0, 0, 0, 0.35);
    box-shadow: inset 5px 5px 20px -10px rgba(0, 0, 0, 0.35);
}

/*BLOCKS*/
.hero_wrap {
    background: #c5c5c5 center center;
    background-size: cover;
}

.hero_image {
    padding: 6% 10% 5px;
    margin-bottom: 7px;
    text-shadow: 1px 1px 2px rgb(89, 89, 89);
}

.blocks [class*='block_']:after {
    content: "";
    display: table;
    clear: both;
}

.hero_image {
    color: #fff;
    text-align: center;
    position: relative;
}

.hero_image h1,
.hero_image .h2 {
    position: relative;
    z-index: 2;
}

.hero_image h1 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
}

.hero_image .h2 {
    font-weight: 300;
    margin: 1.33em 0;
    font-size: 35px;
    line-height: 45px;
}

/* block copy*/
.blocks .block_copy {
    margin-top: 7px;
    line-height: 1.5;
}

/*news item*/
.news-ann {
    padding-bottom: 35px;
}

.content_text h3 {
    margin: 5px 0;
}

.news-posted,
.blocks .block_copy p.news-posted {
    margin: 0;
    font-size: 14px;
}

.news-read-more,
.blocks .block_copy p.news-read-more,
a.big-btn {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

.news-read-more {
    right: 25px;
}

a.big-btn {
    padding: 5px 25px 5px 25px;
    display: inline-block;
    background: #40b97d;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-weight: 400;
}

a.news-title-link {
    font-weight: normal;
    text-decoration: none;
    display: block;
    color: #000;
}

/*
TWO COLUMNS
*/
.two-columns .col-md-8,
.two-columns .col-md-4 {
    padding: 0;
}

/*KENNISBANK page*/
.bank_image .bank_img {
    width: 100%;
    height: 200px;
    background-size: cover;
}

.bank_image .bank_img a {
    display: block;
    width: 100%;
    height: 100%;
}

.bank_image {
    position: relative;
}

.bank_image .section_name {
    padding: 3px 6px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}

.bank_image .section_name {
    position: absolute;
    top: 0;
    right: 0;
}

.bank_image .section_news {
    background: #007cff;
}

.bank_image .section_factsheets {
    background: #ac00ff;
}

.bank_cont_wrap {
    padding: 0 10px;
}

.bank_item h3 {
    padding: 0;
    margin: 5px 0;
    font-size: 20px;
    line-height: 26px;
}

.contact_form form {
    font-size: 20px;
}

.contact_form form label {
    min-width: 180px;
    display: block;
    vertical-align: top;
    font-weight: 300;
}

.contact_form form textarea,
.contact_form form input[type="text"],
.contact_form form input[type="email"],
.contact_form form input[type="submit"] {
    width: 350px;
    max-width: 100%;
    margin: 0 10px 10px 0;
    padding: 5px 10px;
    font-weight: 300;
}

.contact_form form textarea {
    margin-top: 8px;
    height: 100px;
}

.contact_form form input[type="submit"] {
    padding: 5px 35px 5px 35px;
    display: inline-block;
    background: #40b97d;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-weight: 400;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    max-width: 100%;
}

.contact_form form input[type="submit"]:active,
.contact_form form input[type="submit"]:focus {
    background: #288658;
    border: 0;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.block_image_overlay {
    background: rgba(56, 126, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/*quote*/
.quote h2 {
    margin-bottom: 25px;
    text-align: center;
}

.quote h4 {
    text-align: right;
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
        line-height: 52px;
    }

    h2 {
        font-size: 28px;
        line-height: 36px;
    }

    h3 {
        font-size: 20px;
        line-height: 26px;
    }

    h4 {
        font-size: 14px;
        line-height: 18px;
    }

    .padd,
    .col-md-8 .padd {
        padding: 10px 20px;
    }

    .hero_image {
        padding: 6% 2% 5px;
    }

    .hero_image h1 {
        text-transform: none;
    }

    .hero_image .h2 {
        margin: 10px 0;
        font-size: 20px;
        line-height: 26px;
    }

    .bg-image {
        min-height: 200px;
    }

    .contact_form form input[type="submit"] {
        padding: 5px 15px;
    }

    .btn-rarr, a.big-btn.btn-rarr {
        padding: 5px 30px 5px 5px;
    }
}